In [2]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv("./p_1.csv")

In [7]:
from PIL import Image

In [12]:
df.head()

,Unnamed: 0,description,sidebar_color,profileimage,gender
0,0,i sing my own rhythm.,FFFFFF,https://pbs.twimg.com/profile_images/414342229...,male
1,1,I'm the author of novels filled with family dr...,C0DEED,https://pbs.twimg.com/profile_images/539604221...,male
2,2,louis whining and squealing and all,C0DEED,https://pbs.twimg.com/profile_images/657330418...,male
3,3,"Mobile guy. 49ers, Shazam, Google, Kleiner Pe...",C0DEED,https://pbs.twimg.com/profile_images/259703936...,male
4,4,Ricky Wilson The Best FRONTMAN/Kaiser Chiefs T...,0,https://pbs.twimg.com/profile_images/564094871...,female

In [18]:
df = df.drop(['Unnamed: 0'],axis=1)

In [19]:
df2 = df
for i in range(len(df)):
    print('\r',i,end='')
    try:
        im = Image.open('./project/'+ str(i) +'.png')
    except :
        im = Image.open('./project/13504.png')
    im = im.convert("RGB")
    im_n = np.array(im)
    df2.iloc[i,2]=im_n

 13449

/Users/ivan/opt/anaconda3/lib/python3.7/site-packages/PIL/Image.py:989: UserWarning: Palette images with Transparency expressed in bytes should be converted to RGBA images
  "Palette images with Transparency expressed in bytes should be "

 20049

In [44]:
df2.to_pickle('./p_1_array.pickle')

In [45]:
import pickle

In [48]:
with open('./p_1_array.pickle','rb') as file:
    df3 = pickle.load(file)

In [51]:
len(df3.iloc[0,2])

48

In [79]:
mask1 = df2['gender'] == 'male' 
mask2 = df2['gender'] == 'female'

In [82]:
df4 = df2[(mask1 | mask2)]

In [83]:
df4.to_pickle('./p_1_array.pickle')